{% extends 'base.html' %}
{% load static %}
{% block title %} Register {% endblock %}
{% block content %}
<div class="container" style="display:flex;justify-content:center;align-items:center;height:100vh;">
    <div class="row" style="text-align: center;">
        <div class="col-12">
            <div class="shadow card" style="padding:30px;width:500px;">
                <h3 style="text-align:center;color:blue;">Verify your email</h3><br>
                <p style="font-family:verdana;">Verification link has been sent to provided mail address...</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}